/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons

 */
@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/help.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';
@import 'plugins/video.min.css';

@import 'third_party/embedly.min.css';
@import 'third_party/spell_checker.min.css';
@import "bootstrap";
body {
  background: url(https://rozetked.me/images/uploads/qtopnaTehHg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-nav a {
	margin-left: 15px;
}

.welcome-text {
	margin-top: 20px;
}

.team {
	margin-top: 15px;
	padding: 10px;
	background: #ffffff;
	border-radius: 8px;
}

.top_bar {
	width: 100%;
	top: 0px;
	position: fixed;
   z-index: 1000;
}
.content {
	margin-top: 70px;
}

.text-area {
	min-height: 200px;
}

#notice {
	margin-top: 70px;
}

.mt-8{ 
	margin-top: 70px;
 }
.mb-8 {
  margin-bottom: 80px;
}

.footer {
  background: #000000;
}

.content {
  min-height: 100% ;
}
input[type=checkbox] {
    display:inline-block;
    padding: 0 0 0 0px;
    background:url("https://pbs.twimg.com/profile_images/550291079719698432/LbybHjIh.jpeg") no-repeat;
    height: 25px;
    width: 25px;;
    background-size: 50%;
}

input[type=checkbox]:checked  {
    background:url("http://contentservice.mc.reyrey.net/image_v1.0.0/2267461") no-repeat;
    height: 25px;
    width: 25px;
    display:inline-block;
    background-size: 50%;
}